@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --color-1: #7aa2ca;
  --color-2: #f8f9fa;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-1);
}

h2 {
  font-weight: 700;
}

p, li {
  font-weight: 400;
}

/* List */
.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}


.div-list {
  width: 1px;
  border-left: 1px solid #ccc;
  height: 80px;
}

.list-unstyled {
  margin-bottom: 0;
}

/* Title */
.title-border {
  border-left: 5px solid var(--color-1);
  padding-left: 15px;
  margin-bottom: 15px;
}

/* Progress Bar */
.pbm {
  display: inline-flex;
  margin: 10px 0;
  align-items: center;
}

.pb {
  width: 50px;
  height: 10px;
  margin-right: 15px;
  border-radius: 10px;
  background-color: #ccc;
}

.pb-active {
  background-color: var(--color-1);
}

/* Background */
.bg {
  background-color: var(--color-2);
  transition: transform .2s ease-in-out;
}

.bg:hover {
  transform: scale(1.01)
}

/* Photo */
.photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}