/* Sections */
@import url('sections/welcome.css');
@import url('sections/timeline.css');

/* Fonts */
@import url('fonts/fonts.css');

:root {
    --primary-color: #FF201C;
    --background-color: #0c0c12;
}

* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

body {
	justify-content: center;
	height: 100vh;
	background-color: var(--background-color);
}

section {
    padding: 0 5%;
}