/* Animations */
@import url('animations/swift-up.css');
@import url('animations/timeline.css');

/* Fonts */
@import url('fonts/fonts.css');

:root 
{
    --primary-color: #FF201C;
    --background-color: #0c0c12;
    --font-size: 20px;
}

* 
{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

body
{
    display: flex;
	justify-content: center;
	height: 100vh;
	background-color: var(--background-color);
}

h1 
{
    color: var(--color-primary);
    font-size: var(--font-size);
}